<launch>
  <arg name="ground_z" doc="已校准的 world 坐标系地面高度，必须显式指定"/>
  <arg name="drone_id" default="0"/>
  <arg name="odometry_topic" default="/ekf_quat/ekf_odom"/>
  <arg name="cloud_topic" default="/cloud_registered"/>
  <arg name="python_executable" default="python3"/>
  <include file="$(dirname)/ego.launch">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
  </include>
  <node pkg="dispatcher" type="dispatcher_node.py" name="dispatcher" output="screen" required="true"
        launch-prefix="$(arg python_executable)">
    <param name="headless" value="true"/>
    <param name="drone_id" value="$(arg drone_id)"/>
    <param name="odometry_topic" value="$(arg odometry_topic)"/>
    <param name="flight/ground_z" value="$(arg ground_z)" type="double"/>
  </node>
</launch>
